.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 10px;
  justify-items: center;
  margin: auto 0;
  // align-items:;
}
@media only screen and (min-width: 500px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    justify-items: left;
    grid-gap: 10px;
    margin: 50px;
  }
}
