@import "../node_modules/bootstrap/scss/bootstrap";
@import "./resets";
@import "./variables";
@import "./animation";
@import "./components/Header/Header";
@import "./components/Model/Model";
@import "./components/Card/Card";
@import "./components/AboutMe/aboutMe";
@import "./components/Gallery/Gallery";
@import "./grid";

@font-face {
  font-family: console;
  src: url('../public/font.ttf');
}

* {
  transition: 0.5s ease-in-out;
  font-family:'console' ;
  color: '#fd0036';
  cursor: crosshair;
}
a {
  text-decoration: none;
}
p{
  color:#e4e3e3;
  font-weight: 500;
  font-size: medium;
}

h4{
  color:#e4e3e3;

}
.next-link {
  color: inherit;
  border: inherit;
  text-decoration: inherit;
}


.mainPageLink{
  color:#9b0ad8;
  font-size: large;
  letter-spacing: 2px;
  padding: 5px;
  letter-spacing: 2px;
  border-bottom: 1px solid #9b0ad8;
  cursor: pointer;
}

.mainPageLink:hover{
  transform: scale(1.2);
  color: #02ff20;
}



.mainPageLink:hover{
  transform: scale(1.2);
}
.agent {
  height: 100vh;
  width: 100vw;
  background-color: inherit;
  position: absolute;
  top: 0;
  z-index: -100;
}

body {
  padding-top: 75px;
  background-color: #1e1e1e;
  transition: all 1s;
}
.mainContent {
  padding: 0;
  margin-bottom: 30px;
}



.active {
  font-weight: 800;
  text-decoration: underline;
  color: #d7983c;
}
.mainHeading{
  color: #d7983c
}


.next-link:hover {
  color: inherit;
  font-weight: 800;
}

.logo {
  position: fixed;
  top: 5rem;
  transform: scale(0.1);
  z-index: 10;
  display: block;
  animation: appLogoSpin 2s infinite linear;
  background-color: #50505044;
  border-radius: 100px;
  border: 2px dashed yellow;
}
.logo:hover {
  animation: appLogoSpin 0.3s infinite linear;
}

.main {
  position: relative;
}

.responsiveImg {
  width: 100vw;
  height: auto;
  // position: relative;
}

// .heading {
//   position: absolute;
//   top: 10px;
//   left: 50%;
//   transform: translate(-50%, 0);
//   z-index: 2;
//   font-size: 1rem;
// }


@media only screen and (min-width: 600px) {

  .heading {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 900px) {

  .heading {
    font-size: 2rem;
  }
}
