.container {
  position: fixed;
  /* position: relative; */
  width: 100vw;
  height: 100vh;
  color: white;
  scroll-snap-type: y mandatory;
  overflow: scroll;
  z-index: 0;
}
.snapCenter {
  scroll-snap-align: center;
}
.snapStart {
  scroll-snap-align: start;
}
.snapEnd {
  scroll-snap-align: end;
}

.header {
  z-index: 200;
  position: fixed;
  cursor: pointer;
}
