.form {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
}
.form input {
  width: 50vw;
}
.form textarea {
  width: 50vw;
  min-height: 100px;
}
.form button {
  width: 50vw;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  color: red;
  font-weight: 700;
}
