.form {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
}
.disabled {
  background-color: green;
}

.form input {
  width: 50vw;
}
.form textarea {
  width: 50vw;
  min-height: 100px;
}
.form button {
  width: 50vw;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  color: red;
  font-weight: 700;
}
.socials {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 250px;
  left: 0;

  /* background-color: #50009018; */
}
.icon {
  margin: 30px;
}
@media (min-width: 500px) {
  .socials {
    display: flex;
    flex-direction: column;
    position: static;
    align-items: center;
    justify-content: center;
    width: 100px;
  }
}
