.container {
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  text-align: center;
  top: 3.5rem;
  align-items: center;

  justify-content: center;
  /* background-color: rgb(173, 226, 50); */
}

.header {
  position: absolute;
  top: 3rem;
  text-transform: uppercase;
  color: rgb(144, 133, 133);
  font-size: 2rem;
}
.subHeader {
  color: rgb(144, 133, 133);
  position: absolute;
  text-transform: uppercase;
  font-size: 1.2rem;
  top: 7rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.25rem;
}
@media (min-width: 700px) {
  .container {
    /* align-items: flex-start; */
  }
}

@media (min-width: 1200px) {
  .container {
    flex-direction: row;
    max-width: 100vw;
    justify-content: center;
    margin: auto 0;
    padding: 0;
    align-items: center;
  }
}
