.menu {
  font-size: 2rem;
  /* text-align: center; */
}
.links li:hover {
  background-color: rgb(88, 71, 71);
  cursor: pointer;
}

.links {
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 5px;
}

.links li {
  border-bottom: 1px solid black;
}
