.container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  text-align: center;
  align-items: center;
  /* padding-top: 2vh; */
  max-width: 100vw;

  /* /* top: 5vh;  */
  top: 3.5rem;
  margin: 0 auto;
  /* justify-content: space-evenly; */
  z-index: 0;
}
.heroBtn {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 50px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(122, 69, 69);
}
.heroBtn:hover {
}
.imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin: 20px; */
}
.aboutHeader {
  /* position: absolute; */
  margin: 20px auto;
  top: 2vh;
  left: 0;
  right: 0;
  color: rgb(124, 120, 120);
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 1rem;
  padding-bottom: 20px;
  padding-top: 20px;
}

.img {
  /* max-width: 90vw; */
  /* height: auto; */
  /* object-fit: contain; */
  /* margin-top: 80px; */
}
.img:first-of-type {
  margin-right: 20px;
}
.text {
  font-size: 1rem;
  margin: 40px;
  height: 12px;
  /* margin: 10px; */
}
.text p {
  /* margin: 10px 0; */
}
.content {
  margin-top: 60px;
}
@media (min-width: 700px) {
  .text {
    font-size: 1.5rem;
  }
}
@media (max-width: 700px) {
  .imgs {
    flex-direction: column;
  }
  .img {
    /* margin: 0; */
    max-width: 40vw;
  }
}
@media (max-height: 1200px) {
  .img {
    /* max-width: 30vw; */
  }
}
@media (max-height: 800px) {
  .img {
    /* display: none; */
  }
}

@media screen and (max-width: 995px), screen and (max-height: 800px) {
  .img2 {
    /* display: none; */
  }
}
