.main {
}
.grid {
  display: flex;
  flex-direction: row;
}

.card {
  /* background-color: white; */
  padding: 2rem;
  border: 5px solid rgb(194, 13, 13);
}
.cardHeader {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.cardBody {
  /* margin-bottom: 1rem; */
  font-size: 0.9rem;
}
.cardFooter {
  margin-top: 1rem;
}

.image {
  margin-top: 20px;
  padding-top: 30px;
  max-width: 30vw;
  height: auto;
  /* max-height: 30vh; */
  /* width: auto; */
  /* position: absolute; */
  /* right: 0; */
  /* bottom: 0; */
  /* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */

  /* width: auto; */
}

@media only screen and (max-width: 1000px) {
  .img img {
    max-width: 50vw;
    height: auto;
  }
}
