.main {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  background-size: cover;
  margin: 0;
}

.image {
  margin-top: 20px;
  padding-top: 30px;
  max-width: 30vw;
  height: auto;
  /* max-height: 30vh; */
  /* width: auto; */
  /* position: absolute; */
  /* right: 0; */
  /* bottom: 0; */
  /* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */

  /* width: auto; */
}

@media only screen and (max-width: 1000px) {
  .img img {
    max-width: 50vw;
    height: auto;
  }
}
