.model {
  background-color: $lightGrey;
  // color: $dirtyWhite;
}
.modal-content {
  background-color: transparent;
}

@media screen and (orientation: landscape) {
  .medelHeader {
    display: none;
  }
  .model {
    cursor: pointer;
  }
}
