.button {
  min-width: 80%;
  padding: 14px 20px;
  font-weight: 600;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 3rem 0;
}
.button[type="submit"] {
  background-color: #4caf50;
  color: white;
}

.button[type="submit"]:hover {
  background-color: #45a049;
}

.button[type="logout"] {
  background-color: rgb(122, 33, 33);
}
.button[type="logout"]:hover {
  background-color: rgb(212, 59, 59);
}
