.main {
  width: 100%;

  margin: 0;
  height: 70vh;
  position: relative;
}

.main img {
  display: block;
  margin: auto;
  max-height: 70vh;
  width: auto;
  opacity: 0.6;
  animation-name: moveInTop;
  animation-duration: 2s;
}

.logoBox {
  position: absolute;
  top: 30px;
  left: 30px;
}

.logo {
  font-size: 5rem;
  /* height: 150px; */
  animation: appLogoSpin 2s infinite linear;
}

.textBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading {
  color: #fff;
  text-transform: uppercase;
}
.headingName {
  display: flex;
  text-align: center;
  font-size: 50px;
  display: block;
  font-weight: 400;
  letter-spacing: 30px;
  animation-name: moveInLeft;
  animation-duration: 4s;
}

.headingSub {
  display: flex;
  text-align: center;
  font-size: 20px;
  display: block;
  font-weight: 200;
  letter-spacing: 15px;
  animation-name: moveInRight;
  animation-duration: 4s;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  padding: 15px 40px;
  display: inline-block;
  margin-top: 30px;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}
.btnWhite {
  background-color: #fff;
  color: #777;
  cursor: pointer;
  animation: moveInBottom 2s ease-out 1s;
  animation-fill-mode: backwards;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5 1px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btnWhite::after {
  background-color: white;
}

.btn:hover::after {
  transform: scaleX(2) scaleY(1.5);
  opacity: 0;
}

@media only screen and (max-width: 1000px) {
  .main img {
    max-width: 100vw;
  }
  .headingName {
    font-size: 20px;
    margin-left: 20px;

    letter-spacing: 30px;
  }

  .headingSub {
    font-size: 10px;

    letter-spacing: 5px;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-100px, 0);
  }
  80% {
    transform: translate(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(100px);
  }
  80% {
    transform: translate(-20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    /* opacity: 0; */
    transform: translateY(100px);
    /* transform: rotate(-90deg); */
  }
  80% {
    /* transform: translate(20px); */
  }
  100% {
    /* opacity: 1; */
    transform: translateY(0);
    /* transform: rotate(0); */
  }
}

@keyframes moveInTop {
  0% {
    /* opacity: 0; */
    transform: translate(0, 100);
    transform: rotate(-90deg);
  }
  80% {
    transform: translate(20px);
  }
  100% {
    /* opacity: 1; */
    transform: translate(0);
    transform: rotate(0);
  }
}

@keyframes appLogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
