.swiper {
  width: 100%;
  height: 100%;
}

.swiperSlide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperSlide img {
  display: block;
  height: auto;
  min-width: 30vw;
  height: 30vh;

  object-fit: contain;
}

.swiperSlide:hover img {
  transform: scale(1.1);
  transition: all 0.5s;
}
